@charset "UTF-8";

body {
    background-color: #F0EEF8;
    position: relative;
    height: 100%;
  }

  .navbar-home{
    position:absolute;
    margin-left: 12%;
    width:75%;
    z-index:10;
    max-width:100%;
    background: #212027;
 }
 .navbar-login{
    margin-left: 12%;
    width:75%;
    z-index:10;
    max-width:100%;
    background: #212027;
 }

.navbar-light .navbar-brand {
    color: #A3A2A6;
}
.navbar-nav a{
  color: #A3A2A6 !important;
}

  .carousel-container{
    position: relative;
    height: 100%;
    width: 100%;
  }
  /*<!-- Carousel -->*/
  
  .carousel-inner {
    width:100%;
    max-height: 600px !important;
  }
  /*<!-- Carousel Text -->*/
  .carousel-caption{
    position:absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
  }
  .carousel-caption h1 {
    text-align: center;
  }
  
  .carousel-caption p {
    text-align: center;
  }

  .card-group{
    margin-left: 10%;
    padding: 50px;
  }
  
  .login-header{

    color:#5D615D;
  }

  .login-container{

    margin-left: 26%;
  }
  
  .invalid-user{
  	color:red;
  }
  
  .login-button{
    color: black;
    background-color: white;
    border-color: #CFCDD4;
  }

  .login-button:hover{
    border-color: #2CEE15;
    background-color: #2CEE15 
    
  }
  
  .register-container{
    margin-left: 11%;
  }

  .register-header{

    color:#5D615D;
  }

  .register-instructions{

    color:#5D615D;
  }

  .register-form-field{
    color:#5D615D;
    font-weight: bold;
  }
  
  .form-error{
  	color:red;
  }
  
  .registration-success-outer-container{
    background-color: #CBC9D0;
    padding: 60px;
    width: 75%;
    margin-right: 13%;
  }

  .registration-success-container{

    background-color:#F3DFE3;
    padding: 10px;
    width: 74%;
    
  }

  .registration-success-button{
    background-color: #4D95D8;
    color: white;
    margin-left: 12%;
  }
  
  
  .product-banner{
     
     padding: 60px;
     width: 75%;
     margin-right: 13%;

   }

   .product-search{
    float: right;
    margin-right: 6%;
   }
   .search-caption{
    font-weight: bold;
    float: right;
    margin-right: 1%;
  }

   .product-table-container{
    
    padding: 15px;
    width: 75%;
    margin-right: 13%;


   }

   .product-table{
     margin-left: 5%;
     width: 90%;
   }

   .product-table-thead{

    background-color:#CDF9C3;
  
   }
   
   .product-table-image{
      width: 70%;
   }
   
   
   .product-banner-text{
     color: #5D615D;
   }
   
   .product-detail-banner-text{
    color: #5D615D;
   }
   
   .product-details-image{
     width: 80%;
   }
   .product-details-container{
    margin-left: 10%;
   }
   .product-details-card{
     padding: 10px;
     background-color: #F0EEF8;
     border: none;
   }

   .inline {
    display:inline-block;
    margin-right:5px;
 }

 .product-detail-back{
    color: black;
    border-color: grey;
    background-color: white;
 }

 .product-detail-order-now{
   color: white;
   border-color: #F3AD18;
   background-color: #F3AD18 ;
 }
 
 .cart-banner{
    padding: 60px;
    width: 75%;
    margin-right: 13%;
    background-color: #F0EEF8;
   }

   .cart-banner-text{

      color:#5D615D;
   }

   .cart-table-container{
    padding: 15px;
    width: 75%;
    margin-right: 13%;
   }

   .cart-table{
    margin-left: 5%;
     width: 90%;

   }

   .cart-grand-total{

    float: right;
    margin-right: 17%;
    font-weight: bold;
   }

   .cart-grand-total-price{
     float: right;
     margin-right: 17%;
     font-weight: bold;
   }

   .remove-order-details-button{
     background-color: red;
     color: white;
     padding: 2px;
   }

   .remove-all-order-details-button{
    background-color: red;
    color: white;
    margin-left: 15%;
    padding: 6px;
   }

   .checkout-order-details{
     background-color: #83DF81;
     border-color: #83DF81 ;
     color: white;
     margin-left: 50%;
     padding: 6px;
   }
   
   .continue-shopping-button{

    border-color: #5D615D;
    background-color: white;
    margin-left: 15%;
    padding: 6px;

   }