@charset "UTF-8";

body {
    background-color: #F0EEF8;
    position: relative;
    height: 100%;
  }

  .navbar-home{
    position:absolute;
    margin-left: 12%;
    width:75%;
    z-index:10;
    max-width:100%;
    background: #212027;
 }
 .navbar-login{
    margin-left: 12%;
    width:75%;
    z-index:10;
    max-width:100%;
    background: #212027;
 }

.navbar-light .navbar-brand {
    color: #A3A2A6;
}
.navbar-nav a{
  color: #A3A2A6 !important;
}

  .carousel-container{
    position: relative;
    height: 100%;
    width: 100%;
  }
  /*<!-- Carousel -->*/
  
  .carousel-inner {
    width:100%;
    max-height: 600px !important;
  }
  /*<!-- Carousel Text -->*/
  .carousel-caption{
    position:absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
  }
  .carousel-caption h1 {
    text-align: center;
  }
  
  .carousel-caption p {
    text-align: center;
  }

  .card-group{
    margin-left: 10%;
    padding: 50px;
  }
  
  .login-header{

    color:#5D615D;
  }

  .login-container{

    margin-left: 26%;
  }
  
  .invalid-user{
  	color:red;
  }
  
  .login-button{
    color: black;
    background-color: white;
    border-color: #CFCDD4;
  }

  .login-button:hover{
    border-color: #2CEE15;
    background-color: #2CEE15 
    
  }
  
  .register-container{
    margin-left: 11%;
  }

  .register-header{

    color:#5D615D;
  }

  .register-instructions{

    color:#5D615D;
  }

  .register-form-field{
    color:#5D615D;
    font-weight: bold;
  }
  
  .form-error{
  	color:red;
  }
  